.react-calendar {
  width: 100%;
  max-width: 600px;
  background: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
}

.react-calendar__tile {
  padding: 1rem;
  text-align: center;
  position: relative;
}

.react-calendar__navigation button {
  font-size: 18px;
}
